.cardStyle{
    height: 146px;
    margin-top: 5px;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 1px;
    background-color: lightcyan;
    
}

.contCard{
    width: 498px;
    height: 146px;
    margin: 0px;
}

.contImg{
    height: 146px;
    width: 190px;
    padding: 0px;
}

.cardImg{
    height: 146px;
    width: 190px;
}

.contBody{
    padding: 0px;
    height: 146px;
    width: 308px;
    padding: 3px 5px 3px 5px;
}

.bodCard{
    height: 114px;
    width: 298px;
}

.bodCard p{
    margin: 0px;
}

.cardTitle{
    margin-bottom: 5px;
    height: 110px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



 