.ImgCarousel{
    height: 460px;
    width: 707px;
}

.Carousel{
    height: 460px;
    width: 707px;
    padding: 0px; 

}

.infCarousel{
    width: 707px;
    left: 0px;
    right: 0px;
    background: #6c757dad;
}