*{
  margin: 0px;
  padding: 0px;
}

.layout{
  width: auto;
}
.navBar{
  background-color:lightseagreen ;
  
  max-width: 1839px;
}

.sideBar{
  background-color: lightskyblue;
}

.ctrlPage{
  background-color: mediumpurple;
}