.layout{
    height: auto;
    width: 1864px;
}
.row{
    margin: 0px;
}

.colIzPubli{
    background-color: yellow;
}

.colCont{
    background-color: #444;
}

.colNews{
    background-color: red;
}

.colCarousel{
    
    margin-top: 5px;
    padding-top: 3px;
    
}

.ContCarousel{
    background-color: rgb(113, 63, 136); /*Esto toca quitarlo*/
    padding: 0px;
    height: 460px;
}

.CardCarousel{
    background-color: lightcoral;
    padding: 0px;
    height: 460px;
    width: 720px;
}

.colHeader{
    border-top-style: solid ;
    border-width: 1.5px;
    border-top-width: 1.5px;
    margin-top: 10px;
    width: auto;
    height: 50px;
}

.moreNews a p{
    margin-bottom: 0px;
    margin-top: 16px;
}

.colCardNews{
    margin-top: 10px;
    margin-bottom: 10px;
}