body{
    background: #e9ecf4;
    color: #000;
}

.contenedor {
    width: 100%;
    max-width: 1600px;
    margin: 0px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, auto);
    grid-template-areas: "header header header header header"
                         "sidebar-left main main main sidebar-right"
                         "sidebar-left main main main sidebar-right"
                         "sidebar-left main main main sidebar-right"
                         "sidebar-left main main main sidebar-right"
                         "sidebar-left main main main sidebar-right"
                         "footer footer footer footer footer";
}

.header{
    grid-area: header;
    justify-content: center;
    display: flex;
}

.sidebar-left{
    grid-area: sidebar-left;
    justify-content: center;
    display: flex;
}

.sidebar-right{
    grid-area: sidebar-right;
    justify-content: center;
    display: flex;
}

.main{
    grid-area: main;
    justify-content: center;
    display: flex;
}

.footer{
    grid-area: footer;
    justify-content: center;
    display: flex;
}

@media only screen and (max-width: 978px) {
    .contenedor{
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(1, auto);
      grid-template-areas: 
        "header"
        "main"
        "sidebar-left"
        "sidebar-right"
        "footer";
    }
  }