
.nav-bar{
    width: 100%;
    background-color: #F0F0F0;
    display: block;
}


.divLogo {
    text-align: center;
    display: flex;
    justify-content: center;
}

.divLogo a h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    margin: 0px 0px 7px 0px;
}

.logImg{
    width: 160px;
    height: 160px;
    padding: 6px;
    
}

.divNav{
    background-color: #2990e6;
    height: 50px;
    justify-content: center;
    display: flex;
}

.ulNav{
    height: 100%;
    width: 100%;
    margin: 0;
    justify-content: center;
    display: flex;
    align-items: center;
}

.ulNav li {
    padding-left: 8px;
    padding-right: 8px;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.ulNav li  a  {
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.ulNav li  a spam {
    font-size: 19px;
    color: #000;
    font-weight: 500;
}

.ulNav li :hover{
    
    text-decoration: none;
    background-color: #217FCD;
}


/*     Movile Menu    */

@media only screen and (max-width: 978px){
    .nav_icon{
        display: inline;
    }
}