
.barnav{
    width: auto;
    height: auto;
    /*background-color: #2990e6 ;   */
    background-color: lightgray;
    text-align: center;
}

.divLogo{
    text-align: center ;
}

.logImg{
    width: 135px;
    height: 135px;
    border-radius: 50%;
}

.liTitulo a h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
}

.imgNav{
    height: 135px;

}

.divNav{
    background-color: #2990e6;
}

.ulNav{
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: none;
}

.ulNav li{
    display: inline;
    margin-inline: 15px;
}

.ulNav{
    
}
.ulNav li a{
    color: lavender;
    text-decoration: underline;
}

.ulNav li:hover{
    background-color: #000;
}



/*Movile Menu*/

