
.barnav{
    width: auto;
    height: auto;
    /*background-color: #2990e6 ;   */
    background-color: #F0F0F0;
    text-align: center;
    text-decoration: none;
}

.divLogo{
    text-align: center ;
}

.logImg{
    width: 135px;
    height: 135px;
    border-radius: 50%;
}

.liTitulo a h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
}

.imgNav{
    height: 135px;

}

.divNav{
    background-color: #2990e6;
    height: 50px;
}

.ulNav{
    margin-bottom: 0px;
    margin-top: 0px;
    list-style: none;
    font-size: 26px;
}

.ulNav li{
    display: inline;
    padding-inline: 15px;
    padding-bottom: 15px;
    padding-top: 2px;

}

.ulNav li a{
    color: lavender;
    font-size: 20px;
    
}

.ulNav li:hover{
    background-color: #217FCD;
    text-decoration: underline;
}



/*Movile Menu*/

